.gogglesModalBackground {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	opacity:0.95;
	z-index: 999997;
	filter:alpha(opacity=95); /* For IE8 and earlier */
	background: #000000;
}

.gogglesModal {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 999998;
	background: #ffffff;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 90%;
	height: 90%;
	max-height: 500px;
	max-width: 600px;
	border: 4px solid #336699;
	overflow: auto;
}
.gogglesModalClose {
	text-align: center;
	color: #fff;
	background: #339900;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	margin: 20px;
	margin-left: 55px;
	width: 120px;
	padding: 10px 0px;
	font-family: arial;
}

.gogglesStatement {
	margin: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	text-align: center;
	border-bottom: 2px solid #eee;
	font-family: arial;
	color: #666;
}
.gogglesQuestion {
	margin: 0px 20px;
	font-family: arial;
	color: #CC6600;
	font-size: 24px;
	text-align: left;
}
.gogglesQuestionLogo {
	background: url('../img/tiny-logo.png');
	height: 24px;
	width: 24px;
	margin-right: 10px;
	float: left;
}
.gogglesArgument {
	margin-left: 55px;
	margin-top: 10px;
	margin-bottom: 40px;
	font-family: arial;
}
.gogglesArgumentSummary {
	font-weight: normal;
	font-family: arial;
	text-align: left;
	cursor: pointer;
}
.gogglesArgumentContent {
	font-family: arial;
	padding-left: 10px;
	margin: 5px;
	padding: 5px;
	border-left: 2px solid #ccc;
	text-align: left;
	margin-left: 20px;
}

.gogglesTarget {
	color: #000000;
	background: #FFFF99;
	cursor: pointer;
}
.gogglesTarget.gogglesTarget-viewed {
	background: #CCCCBB;
}

.gogglesTargetExample{
	color: #000000;
	background: #FFFF99;
}

.gogglesSidepane {
	height: 320px;
	background: #FFFFFF;
	border: solid 2px #336699;
	border-right: none;
	border-left: none;
	position: fixed;
	top: 180px;
	right: 0px;
	-moz-box-shadow: 3px 3px 5px #555;
	-webkit-box-shadow: 3px 3px 5px #555;
	box-shadow: 3px 3px 5px #555;
	overflow: hidden;
	font-family: arial;
	font-size: 16px;
	color: #333333;
	z-index: 999996;
}
.gogglesSidepaneHandle {
	float: left;
	height: 100%;
	width: 12px;
	background: #336699;
	cursor: pointer;
}
.gogglesSidepaneLogo {
	background: url('../img/small-logo.gif');
	height: 50px;
	width: 90px;
	margin-bottom: 15px;
}
.gogglesSidepaneContent {
	margin-left: 10px;
	padding: 10px;
	width: 190px;
}