* { margin: 0px; padding: 0px; }


/* HTML Elements */
body {
	font-family: arial;
	color: #000;
);

label {cursor: pointer;}

h1 { }

h2 { margin-top: 20px; }

a { color: #661111; text-decoration: none; font-weight: bold; font-size: .9em;}

ul { margin-left: 20px; }

/* Core Elements */
#container { width: 900px; margin: auto; padding: 10px;}

#header {height: 100px; width: 100%;}

#logo { height: 50px; width: 200px; float: left;}

#main { min-height: 500px;}

#footer {}